dev/pug/pages/index.pug
extends ../config/_template
append config
  - pageTitle = 'Starborne | MMO Space Strategy Game | Play Free Now'
  - description = 'Starborne is a free PC Space MMORTS game set in a rich Sci-Fi world. Build and expand your empire, fight and forge alliances on a huge seamless strategic map.'

block header
    header.header
      include ../includes/_menu
      img(src=starboneLogo.img, alt=starboneLogo.alt, class=starboneLogo.class)
      h1.header-title Starbone Alpha is Live!
      a(href="https://sba.starborne.com/register" class= 'download-game-button') Play free now

block main
    main.main
        section.section-video
            .section-video__image
            .section-video__content
                .section-video__wrap-text
                    h2 Strategy Redefined
                    p Starborne is the definitive MMORTS for PC. Play for free alongside thousands of other players and grow your empire as you conquer distant galaxies. Will your name stand the test of time, or forever fade away into the dark?
                .section-video__thumbnail
                    .section-video__play
        - let counter = 1
        each section in sections
            .section-main
                div(class= `section-main__image-${counter}`)
                div(class= `section-main__wrap-text-${counter}`)
                    h2=section.title
                    p=section.text
            - counter ++
        .section-main.section-main-end
            .section-main__image.section-main-end__image
            .section-main__wrap-text
                h2.section-title Starbone Alpha is Live!
                a(href="https://sba.starborne.com/register" class= 'download-game-button') Play free now
block footer
    include ../includes/_footer

public/index.html
<!DOCTYPE html>
<html lang="en_US">
  <head>
    <title>Starborne | MMO Space Strategy Game | Play Free Now</title>
    <meta charset="utf-8">
    <meta name="description" content="Starborne is a free PC Space MMORTS game set in a rich Sci-Fi world. Build and expand your empire, fight and forge alliances on a huge seamless strategic map.">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Starborne | MMO Space Strategy Game | Play Free Now">
    <meta property="og:description" content="Starborne is a free PC Space MMORTS game set in a rich Sci-Fi world. Build and expand your empire, fight and forge alliances on a huge seamless strategic map.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://starborne.com/">
    <meta property="og:site_name" content="Starborne Sovereign Space">
    <meta property="og:image" content="https://starborne.com/wp-content/uploads/2018/03/CoverImage-1024x445.jpg">
    <meta property="og:image:secure_url" content="https://starborne.com/wp-content/uploads/2018/03/CoverImage-1024x445.jpg">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="445">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Starborne | MMO Space Strategy Game | Play Free Now">
    <meta name="twitter:description" content="Starborne is a free PC Space MMORTS game set in a rich Sci-Fi world. Build and expand your empire, fight and forge alliances on a huge seamless strategic map.">
    <meta name="twitter:site" content="@starbornegame">
    <meta name="twitter:creator" content="@starbornegame">
    <meta name="twitter:image" content="https://starborne.com/wp-content/uploads/2018/03/CoverImage.jpg">
    <link rel="icon" href="https://i0.wp.com/starborne.com/wp-content/uploads/2018/10/cropped-starborne-favicon.png?fit=32%2C32&amp;#038;quality=80&amp;#038;strip=all&amp;#038;ssl=1" sizes="32x32">
    <link rel="icon" href="https://i0.wp.com/starborne.com/wp-content/uploads/2018/10/cropped-starborne-favicon.png?fit=192%2C192&amp;#038;quality=80&amp;#038;strip=all&amp;#038;ssl=1" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://i0.wp.com/starborne.com/wp-content/uploads/2018/10/cropped-starborne-favicon.png?fit=180%2C180&amp;#038;quality=80&amp;#038;strip=all&amp;#038;ssl=1">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="main-menu__toggle"><img class="main-menu__toggle" src="https://res.cloudinary.com/leonemil/image/upload/v1577047169/Starbone/menu-button.svg"></div>
        <nav class="main-menu" itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation" id="main-menu">
          <ul class="main-menu__list">
            <li class="main-menu__item" itemprop="url"><a class="main-menu__link main-menu__link--current" href="#" itemprop="name">HOME</a>
            </li>
            <li class="main-menu__item" itemprop="url"><a class="main-menu__link" href="#" itemprop="name">NEWS</a>
            </li>
            <li class="main-menu__item" itemprop="url"><a class="main-menu__link" href="#" itemprop="name">MEDIA</a>
            </li>
            <li class="main-menu__item" itemprop="url"><a class="main-menu__link" href="#" itemprop="name">GUIDES</a>
            </li>
            <li class="main-menu__item" itemprop="url"><a class="main-menu__link" href="https://sba.starborne.com/register" itemprop="name">REGISTER</a>
            </li>
          </ul>
        </nav><img class="starbone-logo" src="https://res.cloudinary.com/leonemil/image/upload/v1576926073/Starbone/logo.png" alt="Starbone">
        <h1 class="header-title">Starbone Alpha is Live!</h1><a class="download-game-button" href="https://sba.starborne.com/register">Play free now</a>
      </header>
      <main class="main">
        <section class="section-video">
          <div class="section-video__image"></div>
          <div class="section-video__content">
            <div class="section-video__wrap-text">
              <h2>Strategy Redefined</h2>
              <p>Starborne is the definitive MMORTS for PC. Play for free alongside thousands of other players and grow your empire as you conquer distant galaxies. Will your name stand the test of time, or forever fade away into the dark?</p>
            </div>
            <div class="section-video__thumbnail">
              <div class="section-video__play"></div>
            </div>
          </div>
        </section>
        <div class="section-main">
          <div class="section-main__image-1"></div>
          <div class="section-main__wrap-text-1">
            <h2>Build An Empire</h2>
            <p>Starting with only a small space station and a handful of resources, you must develop your buildings and raise fleets to secure your borders. Launch raids, discover missions and colonize planets to fuel your expansion into the new frontier.</p>
          </div>
        </div>
        <div class="section-main">
          <div class="section-main__image-2"></div>
          <div class="section-main__wrap-text-2">
            <h2>Define Your Playstyle</h2>
            <p>Command fleets on the frontlines, sabotage enemies through covert operations or become the industrial backbone of your alliance. Choose from 6 distinct specializations, each with its own unique abilities and gameplay benefits.</p>
          </div>
        </div>
        <div class="section-main">
          <div class="section-main__image-3"></div>
          <div class="section-main__wrap-text-3">
            <h2>Crush Your Enemies</h2>
            <p>Outmaneuver, outgun and outwit your opponents in massive cross-map battles. Optimized fleet compositions, precise timing and coordination with your allies are the key to mastering galactic warfare.</p>
          </div>
        </div>
        <div class="section-main">
          <div class="section-main__image-4"></div>
          <div class="section-main__wrap-text-4">
            <h2>Shape The Galaxy</h2>
            <p>The diplomatic landscape in Starborne is ruthless, and you must use all the tools at your disposal to secure peace, manipulate your rivals and hold your allies together. Do you have what it takes to lead your alliance to victory?</p>
          </div>
        </div>
        <div class="section-main section-main-end">
          <div class="section-main__image section-main-end__image"></div>
          <div class="section-main__wrap-text">
            <h2 class="section-title">Starbone Alpha is Live!</h2><a class="download-game-button" href="https://sba.starborne.com/register">Play free now</a>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-container"></div>
        <div class="footer-section">
          <ul class="footer-section__list">
            <li class="footer-section__list-item"><a class="footer-section__list-link" href="#">Report a bug</a></li>
            <li class="footer-section__list-item"><a class="footer-section__list-link" href="#">Terms of use</a></li>
          </ul>
        </div>
        <div class="social-media">
          <ul class="social-media__list">
            <li class="social-media__list-item"><a class="social-media__list-link" href="https://www.youtube.com/channel/UCC1AucDLTQX7h9bry6Akm1w">
                <div class="social-media__list-img youtube"></div><span class="screen-reader screen-reader-focusable">Youtube</span></a></li>
            <li class="social-media__list-item"><a class="social-media__list-link" href="http://starborne.boards.net/">
                <div class="social-media__list-img board"></div><span class="screen-reader screen-reader-focusable">Board</span></a></li>
            <li class="social-media__list-item"><a class="social-media__list-link" href="https://discord.gg/starborne">
                <div class="social-media__list-img discord"></div><span class="screen-reader screen-reader-focusable">Discord</span></a></li>
            <li class="social-media__list-item"><a class="social-media__list-link" href="https://www.reddit.com/r/starbornegame">
                <div class="social-media__list-img reddit"></div><span class="screen-reader screen-reader-focusable">Reddit</span></a></li>
            <li class="social-media__list-item"><a class="social-media__list-link" href="https://www.facebook.com/starbornegame/">
                <div class="social-media__list-img facebook"></div><span class="screen-reader screen-reader-focusable">Facebook</span></a></li>
            <li class="social-media__list-item"><a class="social-media__list-link" href="https://twitter.com/starbornegame">
                <div class="social-media__list-img twitter"></div><span class="screen-reader screen-reader-focusable">Twitter</span></a></li>
            <li class="social-media__list-item"><a class="social-media__list-link" href="https://www.twitch.tv/starbornestreams">
                <div class="social-media__list-img twich"></div><span class="screen-reader screen-reader-focusable">Twitch</span></a></li>
          </ul>
        </div>
        <div class="copyright">
          <p class="copyright__text">Solid Clouds ehf. Trademarks belong to their respective owners. All rights reserved © 2019 | <a href="https://wordpress.org/" class="copyright__link">Proudly powered by WordPress</a></p>
        </div>
        <div class="authors">
          <div class="authors__flag"></div>
          <p class="authors__text">Co-funded by the Horizon 2020 programme of the European Union No. 868691.</p>
        </div>
      </footer>
    </div>
    <script src="script.js" type="module"></script>
  </body>
</html>
